@import '../global.scss';

.main {
    color: $primaryRed;
    //background-color: $primaryBlack;
    //display: inline-block;
}

.side-menu {
    //float:left;
    width: 200px;
    background-color: $secondaryBlack;
}

.title {
        padding-left: 20px;
    color: $primaryRed;
    border-radius: 20px;
}

.navbar {
    padding: 20px;
    border-right: 2px solid $borderRed;
    //border-radius: 12px;
    //border-top-right-radius: 12px;
}

.list {
    list-style: none;
    border-top: 1px solid $primaryBlack;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    margin: -20px;
    background-color: $primaryGrey;
    min-height: $menuHeight;

}

.list-item {
    margin-top: 22px; 
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: $primaryRed;
}
.link:hover {
    color: $secondaryRed;
}

.row {
    display: inline-flex;
}

.content {
        min-height: $contentHeight;
}