<header></header>

<div class='row'>

    <div class='main'>

        <div class='navbar side-menu'>

    <div class='title'>
    <h1>
        Menu
    </h1>
</div>

            <ul class='list'>


                <!--<div class='divider'></div>-->

                <li class='list-item'>
                    <a class='link' routerLink='/heroes'>My Heroes</a>
                </li>
                <li class='list-item'>
                    <a class='link' routerLink='/explore'>Go Exploring</a>
                </li>
                <li class='list-item'>
                    <a class='link' routerLink='/train'>Training</a>
                </li>
                <li class='list-item'>
                    <a class='link' routerLink='/craft'>Crafting</a>
                </li>

            </ul>
        </div>

    </div>

    <router-outlet>


    </router-outlet>
</div>