$primaryBlack: #040404;
$secondaryBlack: #090909;
$primaryGrey: #191919;
$secondaryGrey: #262626;

$primaryRed: #FF0000;
$secondaryRed: #AA0000;

.divider {
    width: 200px;
    border-bottom: 1px solid #990000;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: block;
    margin-left: -40px;
}