@import '../../global.scss';

.hero-view {
    color: $primaryRed;

    padding-left: 10px;
    //padding: 0 10px 20px 20px;
    //border: 1px solid black;
    height: 150px;
    width: 250px;
    border: 1px solid $primaryBlack;
    background-color: $primaryGrey;
    transition: background-color 1s;
}
.hero-view:hover {
    background-color: $secondaryGrey;
}

.title {
    margin: 0px;
    margin-bottom: 20px;
}

.portrait {
    //float: right;
    //display: inline;
    margin-top: -40px;
    margin-left: 50px;
}

.stats {
    display: block;
    //display: inline-block;
    //float: left;
}

.content {
    display: flex;
}