@import '../../global.scss';

.content {
    border-top: 1px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    //border: 1px solid #111111;
    background-color: $primaryGrey;
    padding: 20px;
    width: $contentWidth;
}

.portrait {
    display: inline-block;
    padding-left: 20px;
}

.details {
    display: inline-block;
}

//Display upper information
.info {
    font-size: 20px;
    color: $primaryRed;
}

//Display stats
.stats {

}