<div *ngIf="hero">

    <div class='content'>

        <div class='details'>
            <div class='info'>

                <h2>

                    {{ hero.name }}
                </h2>
                Level {{ hero.level }} {{ hero.class[0] }}
            </div>

            <div> <span style='color:red'> {{ hero | hp }} </span> </div>
            <div> <span style='color:lightblue'> {{ hero | mp }} </span> </div>

        </div>


        <div class='portrait'>
            <img src="{{hero.portrait}}" />
        </div>

        <div class='stats'>

            <div>
                <hr>
            </div>

            <div>
                {{ hero | experience }}
            </div>

            <div>
                Strength: {{ hero.strength }}
            </div>
            <div>
                Dexterity: {{ hero.dexterity }}
            </div>
            <div>
                Intelligence: {{ hero.intelligence }}
            </div>

        </div>

    </div>

</div>

<!-- Equipment -->
<div class="equipment">

    <div class="equipment-list">
        <ul>
            <li>
                Hands: Legendary gaunlets
            </li>
            <li>
                Head: Legendary hood
            </li>
            <li>
                Weapon: Legendary sword
            </li>
        </ul>
    </div>

</div>

<!-- Inventory -->

<!-- Skills -->

<div *ngIf="!hero">
    <h1>No hero selected</h1>
</div>