<div class='heroescontainer'>
    <div class='title'>
        <div class='title' *ngIf='!selectedHero'>
            {{title}}
        </div>
        <div class='title' *ngIf='selectedHero'>
            <a (click)='selectedHero = null;'>
                <<</a>
                    Details for {{selectedHero.name}}
        </div>
    </div>

    <div class='heroes' *ngIf="!selectedHero">
        <div *ngFor='let hero of heroes' style='display:inline-flex;' (click)="selectHero(hero)">
            <hero-view [hero]=hero style='padding:5px;'></hero-view>
        </div>
    </div>

    <div *ngIf='selectedHero'>
        <hero-detail [hero]=selectedHero></hero-detail>
    </div>
</div>